.cardsWrapper {
  margin-top: 1.25rem;
  & > div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.wrapper .errorText {
  margin: 1rem 0 0;
}

.loaderWrapper {
  margin-top: 1rem;
  text-align: center;
}
