.main {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .col {
    &:first-of-type {
      text-align: center;
    }
    &:last-of-type {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .main .col {
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      display: block;
    }
  }
}
