.header {
  padding: 1.25rem 0;
  background-color: #fff;

  .col {
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  .buttonText {
    display: none;
  }

  .buttons {
    & > button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .header .buttonText {
    display: inline-block;
  }
}
